<?xml version="1.0" encoding="utf-8"?>
<exe>
  <solutions>
    <solution id="PublicisGroupe.EmailSignature.GADClient.wsp" path="\PublicisGroupe.EmailSignature.GADClient.wsp"/>
    <solution id="PublicisGroupe.EmailSignature.BackOffice.wsp" path="\PublicisGroupe.EmailSignature.BackOffice.wsp" webapp="http://01hw724460"/>
    <solution id="PublicisGroupe.EmailSignature.Web.UI.wsp" path="\PublicisGroupe.EmailSignature.Web.UI.wsp" webapp="http://01hw724460"/>
    <solution id="PublicisGroupe.EmailSignature.Service.wsp" path="\PublicisGroupe.EmailSignature.Service.wsp"/> 
  </solutions>
  <webapps>
    <webapp url="http://01hw724460:80">
      <features>
        <feature id="497840b7-7c34-4cfe-a051-272a0e6b9dd3" name="PublicisGroupe.EmailSignature.GADClient_GADClient.TimerJob" mode="act"/><!-- act OR skip-->
      </features>
      <sites>
        <site title="Email Signature" url="http://01hw724460" admin="INDIA\895272" temp="BLANKINTERNET#0" confirmRecreate="false">
          <features>
            <feature id="afc8f78c-b993-490a-8cf4-18dd5e526f18" name="PublicisGroupe.EmailSignature.BackOffice_Webparts" mode="act"/><!-- act OR skip-->
            <feature id="3f2bdb9b-2de4-48fd-9f55-c1f2446af2f8" name="PublicisGroupe.EmailSignature.Web.UI_Webparts" mode="act"/><!-- act OR skip-->
          </features>
          <webs>
            <web url="/emailsignature" title="Email Signature" homepage="Pages/Redirect.aspx" temp="BLANKINTERNET#0">
              <propertybag>
                <property key="emailsignature.ewsurl">https://mail.publicisgroupe.net/ews/exchange.asmx</property>
                <property key="emailsignature.ewsuseragent">OutlookEmailSignatureAddIn</property>
                <property key="emailsignature.picturelibrarytitle">Logo</property>
                <property key="emailsignature.picturelibraryurl">http://01hw724460:11111</property>
		            <property key="emailsignature.picturelibraryadmin">INDIA\895272</property>
              </propertybag>
              <features>
                <feature id="6be506a8-ed2f-4e65-b2d8-b706e1d97d17" name="PublicisGroupe.EmailSignature.GADClient_ListDefinations" mode="act"/><!-- act OR skip-->
                <feature id="786644aa-0559-4515-8d62-88048a3cf435" name="PublicisGroupe.EmailSignature.BackOffice_ListDefinations" mode="act"/><!-- act OR skip-->
                <feature id="655de41c-6fea-4eda-8005-32dfe288dd43" name="PublicisGroupe.EmailSignature.BackOffice_Bootstrap" mode="act"/><!-- act OR skip-->
                <feature id="8e4c32c3-e79d-460a-bd4b-37a0872f3a95" name="PublicisGroupe.EmailSignature.Web.UI_Bootstrap" mode="act"/><!-- act OR skip-->
              </features>
            </web>
          </webs>
        </site>
      </sites>
    </webapp>
  </webapps>
</exe>
