<?xml version="1.0" encoding="utf-8"?>
<exe>
  <solutions>
    <solution id="Company.Dept.App.Module1.wsp" path="\Company.Dept.App.Module1.wsp"/>
    <solution id="Company.Dept.App.Module2.wsp" path="\Company.Dept.App.Module2.wsp" webapp="https://spserver.com"/>
    <solution id="Company.Dept.App.Module3.wsp" path="\Company.Dept.App.Module3.wsp" webapp="https://spserver.com"/>
    <solution id="Company.Dept.App.Module4.wsp" path="\Company.Dept.App.Module4.wsp"/> 
  </solutions>
  <webapps>
    <webapp url="https://spserver.com">
      <features>
        <feature id="497840b7-7c34-4cfe-a051-272a0e6b9dd3" name="Feature.TimerJob" mode="act"/><!-- act OR skip-->
      </features>
      <sites>
        <site title="Email Signature" url="https://spserver.com" admin="" temp="BLANKINTERNET#0" confirmRecreate="false">
          <features>
            <feature id="afc8f78c-b993-490a-8cf4-18dd5e526f18" name="Feature.Webparts1" mode="act"/><!-- act OR skip-->
            <feature id="3f2bdb9b-2de4-48fd-9f55-c1f2446af2f8" name="Feature.Webparts2" mode="act"/><!-- act OR skip-->
          </features>
          <webs>
            <web url="/subweb" title="Email Signature" homepage="SitePages/Redirect.aspx" temp="BLANKINTERNET#0">
              <propertybag>
                <property key="p1">value1</property>
                <property key="p2">value2</property>
                <property key="p3">value3</property>
              </propertybag>
              <features>
                <feature id="6be506a8-ed2f-4e65-b2d8-b706e1d97d17" name="Feature.ListDefinations" mode="act"/><!-- act OR skip-->
                <feature id="655de41c-6fea-4eda-8005-32dfe288dd43" name="Feature.Bootstrap" mode="act"/><!-- act OR skip-->
              </features>
            </web>
          </webs>
        </site>
      </sites>
    </webapp>
  </webapps>
</exe>
